<ion-tabs>
  <ion-tab-bar slot=bottom>
    <ion-tab-button tab="headlines">
      <img src="assets/icon/icons8-hot-article-48.png">
      <ion-label>Headlines</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="news">
      <img src="assets/icon/icons8-news-50.png">
      <ion-label>News</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="accountinfo">
      <img src="assets/icon/icons8-account-50 (1).png">
      <ion-label>For You</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
