<ion-app>
  <ion-menu side="start" (ionWillOpen)="isUserLoggedIn()">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          NewsBulletin
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="/home/login" *ngIf="!isAuth">
          <ion-label>Login</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item button (click)="logout()" *ngIf="isAuth">
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
