<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Headlines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-template [ngIf]="headlines!=null">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
        <ion-segment (ionChange)="onFilterUpdate($event)">
          <ion-segment-button value="World" checked>World</ion-segment-button>
          <ion-segment-button value="Tech">Tech</ion-segment-button>
          <ion-segment-button value="Sports">Sports</ion-segment-button>
        </ion-segment>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{headlines.value[0].name}}</ion-card-title>
            </ion-card-header>
            <ion-img [src]="headlines.value[0].image.thumbnail.contentUrl"></ion-img>
            <ion-card-content>
              {{headlines.value[0].description}}
            </ion-card-content>
            <div>
              <ion-button fill="clear" color="primary" (click)="openHeadlinesDescModal(0)">
                More
              </ion-button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
              <ion-grid>
                <ion-row *ngFor="let news of headlines.value.slice(1);let indexofele=index"
                (click)="openHeadlinesDescModal(indexofele+1)" style="border-bottom: 1px solid cornflowerblue;">
                  <ion-col size="3">
                      <ion-img [src]="news.image==undefined?'none':news.image.thumbnail.contentUrl"></ion-img>
                  </ion-col>
                  <ion-col size="8">
                     <p>{{news.name}}</p>
                  </ion-col>
                  <ion-col size="1" class="ion-align-self-center">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>