<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Headlines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="headlines!=null">
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-segment (ionChange)="onFilterUpdate($event)">
            <ion-segment-button value="World" checked>World</ion-segment-button>
            <ion-segment-button value="Tech">Tech</ion-segment-button>
            <ion-segment-button value="Sports">Sports</ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{headlines.value[0].name}}</ion-card-title>
            </ion-card-header>
            <ion-img [src]="headlines.value[0].image.thumbnail.contentUrl"></ion-img>
            <ion-card-content>
              {{headlines.value[0].description}}
            </ion-card-content>
            <div>
              <ion-button fill="clear" color="primary" (click)="openHeadlinesDescModal(0)">
                More
              </ion-button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-list *ngIf="headlines!=null">
          <ion-item *ngFor="let news of headlines.value.slice(1);let indexofele=index"
            (click)="openHeadlinesDescModal(indexofele+1)" line="none">
            <ion-thumbnail slot="start">
              <ion-img [src]="news.image?news.image.thumbnail.contentUrl:'assets/icon/noimage.png'"></ion-img>
            </ion-thumbnail>
            <p>{{news.name}}</p>
          </ion-item>
        </ion-list>
      </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>