<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Headlines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="headlines">
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{headlines[0].name}}</ion-card-title>
            </ion-card-header>
            <ion-img [src]="headlines[0].image.thumbnail.contentUrl"></ion-img>
            <ion-card-content>
              {{headlines[0].description}}
            </ion-card-content>
            <div>
              <ion-button fill="clear" color="primary" (click)="openHeadlinesDescModal(0)">
                More
              </ion-button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-list *ngIf="headlines">
          <ion-item *ngFor="let news of headlines.slice(1);let indexofele=index"
            (click)="openHeadlinesDescModal(indexofele+1)" line="none">
            <ion-thumbnail slot="start">
              <ion-img [src]="news.image && news.image.thumbnail?news.image.thumbnail.contentUrl:'assets/icon/noimage.png'"></ion-img>
            </ion-thumbnail>
            <p>{{news.name}}</p>
          </ion-item>
        </ion-list>
      </ion-col>
      </ion-row>
    </ion-grid>
    <ion-infinite-scroll threshold="24%" (ionInfinite)="loadNews($event)">
      <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data.."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>