<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/home/headlines'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid (click)="fblogin()"  *ngIf="!isAuth">
   <ion-row>
      <ion-col size="3" offset="5">
        <ion-icon color="primary" size="large"  name="logo-facebook"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
          Continue with Facebook
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>