<ion-content>
  <form [formGroup]="searchForm">
    <ion-searchbar  class="searchBar" formControlName="search" placeholder="Search your Book"></ion-searchbar>
  </form>
  <div class="booksContainer">
    <ng-template [ngIf]="bookList && bookList.items">
      <div class="bookInfo" *ngFor="let book of bookList.items;let i=index">
        <div class="imgBox">
          <ion-img [src]="book.volumeInfo.imageLinks?book.volumeInfo.imageLinks.thumbnail:'assets/icon/noimage.png'"
            (click)="openBookInfoModal(i)" ></ion-img>
        </div>
      </div>
    </ng-template>
  </div>
</ion-content>