<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profileInfo">
    <ion-grid>
      <ion-row>
        <ion-col size="5" offset="4" *ngIf="fbUserInfo!=null">
            <img [src]="fbUserInfo.image" height="100px" />
        </ion-col>
      </ion-row>
      <ion-row style="height:60px" *ngIf="fbUserInfo!=null">
        <ion-col size="5" offset="4">
          {{fbUserInfo.name}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" offset="4">
          <ion-button color="primary" (click)="logout()">Logout</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>