<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-segment (ionChange)="toggleSection($event)"  scrollable="true">
          <ion-segment-button *ngFor="let cat of categories;let i=index" value={{cat}} [ngClass]="information[i] && information[i].activated?'segment-button-checked':''">
            {{cat}}
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="selectedCat != null">
          <ion-item *ngFor="let childItem of selectedCat.value;let i=index" (click)="openModal(i)">
            <ion-thumbnail slot="start">
              <ion-img [src]="childItem.image?childItem.image.thumbnail.contentUrl:'assets/icon/noimage.png'"></ion-img>
            </ion-thumbnail>
            <p>{{childItem.name}}</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="24%" (ionInfinite)="loadCatNews($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data.."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>