<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancelModal()">
        <ion-icon  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Article</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>{{headlinesdesc.name}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img [src]="this.headlinesdesc.image.thumbnail.contentUrl" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        {{headlinesdesc.description}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>